# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

SDL2
SDL2/
SDL2_mixer-2.0.4/
SDL2-2.0.9/
SDL2/build/build/.libs/*
SDL2/bin/sdl2-config
SDL2/build/Makefile
SDL2/build/Makefile.rules
SDL2/build/SDL2_mixer.pc
SDL2/build/build/.libs/libSDL2.lai
SDL2/build/build/.libs/libSDL2_mixer.lai
SDL2/build/build/.libs/libSDL2_test.lai
SDL2/build/build/.libs/libSDL2main.lai
SDL2/build/build/.libs/playmus
SDL2/build/build/.libs/playwave
SDL2/build/config.log
SDL2/build/config.status
SDL2/build/include/SDL_config.h
SDL2/build/libtool
SDL2/build/sdl2-config
SDL2/build/sdl2-config.cmake
SDL2/build/sdl2.pc
SDL2/include/SDL2/SDL_config.h
SDL2/lib/cmake/SDL2/sdl2-config.cmake
SDL2_mixer-2.0.4
SDL2-2.0.9
doom-nukem
